.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.heading {
  font-size: xx-large;
}

.starList {
  font-size: xx-large;
}
.Rating {
  font-size: large;
}

.star:hover {
  color: yellow;
}

.star {
  color: black;
}

.starSelected {
  color: yellow;
}
